////////////////////////////////////////////////////////////////////// < 1024px
//-----------------------------------------------------------------------------
@media only screen and (max-width: 1140px) {
  .topPANEL {
    width: 100%;
    .home-page-menu {
      left: calc(50% - 960px/2);
    }
  }
}

/////////////////////////////////////////////////////////////////////// < 768px
//-----------------------------------------------------------------------------
@media only screen and (max-width: 768px) {
  .topPANEL {
    width: 100%;
    .home-page-menu {
      left: calc(50% - 720px/2);
    }
  }
}

/////////////////////////////////////////////////////////////////////// < 737px
//-----------------------------------------------------------------------------
@media only screen and (max-width: 737px) {
  .topPANEL {
    width: 100%;
    .home-page-menu {
      left: 0;
    }
  }

  #nav {
    #logo {
      height: 50px;
      top: calc(50% - 50px/2);
    }
  }

  #menuOverlay {
    overflow-y: scroll;
    display: block;
    .menu-links {
      @include flex-column;
      height: auto;
      li {
        margin-bottom: 25px;
        ul {
          li {
            margin-bottom: 5px;
          }
        }
      }
    }
    .top-heading {
      margin-bottom: 10px;
    }
  }

  .home-page-menu, .loading {
    #logo, #loading {
      height: 50px;
    }
  }

  .recent-posts-title {
    margin: 50px 0;
  }

  .post-tile {
    width: calc(50% - 7.5px);
    margin-right: 15px;
    margin-bottom: 25px;
    &:nth-child(3n) {
      margin-right: 15px;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  #footer {
    margin-top: 25px;
  }

  // CUSTOM
  #aboutPAGE {
    .about-text {
      width: 100%;
    }
  }

  #postPAGE {
    .post-social-icons {
      @include flex-top;
      margin-top: 50px;
      h3 {
        margin-bottom: 15px;
      }
    }
    .post-text {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
    }
    .post-tile {
      margin-bottom: 25px;
      &:last-child {
        display: none;
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////// < 415px
//-----------------------------------------------------------------------------
@media only screen and (max-width: 415px) {
  .topPANEL {
    .home-page-menu {
      @include flex-column;
      @include flex-top;
    }
  }

  #nav {
    #logo {
      height: 25px;
      top: calc(50% - 25px/2);
      left: 15px;
      width: auto;
    }
    #menuB {
      padding-right: 0;
      width: 70px;
    }
  }

  .social-icons {
    position: relative;
    left: 15px;
    margin-top: 15px;
    a {
      margin-right: 10px;
    }
  }

  .home-page-menu, .loading {
    #logo, #loading {
      height: auto;
      width: 100%;
    }
  }

  .post-tile {
    width: 100%;
    margin-right: 0;
  }

  #footer {
    @include flex-column;
    .footer-panel {
      @include flex-middle;
      @include flex-center;
      width: 100%;
      margin-bottom: 50px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .social-icons {
      left: 0;
      margin: 0;
    }
    .right-panel {
      .footer-posts-list {
        @include flex-middle;
      }
    }
  }

  // CUSTOM
  #postPAGE {
    .post-tile {
      &:last-child {
        display: block;
      }
    }
  }
}




















//
