////////////////////////////////////////////////////////////////////////// Fonts
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
$fontSourceSansPro: 'Source Sans Pro', serif, monospace;

/////////////////////////////////////////////////////////////////////////// Base
//------------------------------------------------------------------------------
html, body {
  position: relative;
  background-color: $gray50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  margin: 0;
  padding: 0;
	width: 100vw;
	overflow-y: scroll;
	color: black;
	&.no-scroll {
		overflow: hidden;
	}
}

/////////////////////////////////////////////////////////////////////////// Nuxt
//------------------------------------------------------------------------------
#__nuxt {
  position: relative;
  z-index: 2;
}

#__layout {
  .master-container {
    position: relative;
  }
}

/////////////////////////////////////////////////////////////////////////// Text
//------------------------------------------------------------------------------
input, textarea { outline: none; padding: 0; }

p, h1, h2, h3, h4, h5, h6, ul, li, div, a, button, section {
  margin: 0;
  padding: 0;
  font-family: $fontSourceSansPro;
  font-weight: 400;
  color: inherit;
  box-sizing: border-box;
  background-color: transparent;
  border: 0;
  outline: 0;
  letter-spacing: 0.5px;
  &:after, &:before {
    box-sizing: border-box;
  }
}

a { display: block; }
img, input, textarea, form, label, nav { box-sizing: border-box; display: block; }
label { margin: 0; }
li { list-style: none; }

img {
  width: 100%;
}

figure {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontSourceSansPro;
  font-weight: 400;
}

h1 {
  font-size: 2.25rem;
  letter-spacing: 0.25rem;
}

h2 {
  font-size: 1.3rem;
  letter-spacing: 1.3px;
}

// h3 {
//   font-size: 21px;
//   line-height: 25px;
// }

// h4 {
//   font-size: 18px;
//   line-height: 22px;
// }

p, li, a, div {
  font-size: 1rem;
  line-height: 1;
}
a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  transition: 150ms;
  &:hover, &:active, &:focus {
    text-decoration: none;
    transition: 150ms;
  }
}

input[type="text"], .rich-text-area, textarea {
  @include placeholder { color: inherit; opacity: 0.5; }
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
  border: 0;
  padding: 0 $standardGutter;
  background-color: inherit;
  transition: 200ms;
  &:hover, &:active, &:focus {
    transition: 300ms;
    background-color: $gray200;
  }
}

textarea {
  resize: none;
  padding: $standardGutter;
}

.material-icons {
  font-size: 0.9rem;
  transition: 0ms;
  &:hover, &:active, &:focus {
    transition: 0ms;
  }
}

.grid {
  width: $containerWidth;
  margin: 0 auto;
  &.full {
    width: 100%;
    padding: 0 0.5rem;
  }
}

//////////////////////////////////////////////////////// Notifications Overrides
//------------------------------------------------------------------------------
.toasted-container {
	z-index: 50000;
	&.app-toasted {
		align-items: center;
		&.bottom-left,
		&.bottom-right {
			bottom: 2rem;
			padding: 0 2rem;
			@include tiny {
				width: 100%;
				bottom: $standardGutter;
				padding: 0 $standardGutter;
			}
		}
		&.bottom-left {
			left: auto;
		}
		&.bottom-right {
			right: auto;
		}
		.toasted {
		  &:first-child {
		    margin-top: 0 !important;
		  }
		  &.toasted-primary {
				@include borderRadius4;
				display: flex;
				flex-direction: row;
				background-color: white;
				color: $gray900;
				border: 2px solid $gray900;
				font-weight: 600;
				overflow: hidden;
				box-shadow: none;
				padding: 0;
				height: 2.5rem;
				text-align: center;
				@include tiny {
					height: 5rem;
				}
				&.success,
				&.error,
				&.warning {
					background-color: white;
					i.material-icons {
						color: white;
					}
				}
				&.success {
					i.material-icons {
						background-color: $green500;
					}
				}
				&.error {
					i.material-icons {
						background-color: $red500;
					}
				}
				&.warning {
					i.material-icons {
						background-color: $orange500;
					}
				}
				i.material-icons {
					@include flex-c;
					margin-left: 0;
					margin-right: $standardGutter;
					border-right: 2px solid $gray900;
			    height: 100%;
			    width: 2.5rem;
					font-size: 1.5rem;
					@include tiny {
						width: 5rem;
					}
				}
				a.action {
					display: flex;
					flex-direction: row;
					align-items: center;
					background-color: white;
					margin: 0;
					height: 100%;
					border-radius: 0;
					padding: 0 1rem;
					border-left: 2px solid $gray900;
					margin-left: 0.75rem;
					color: $gray900;
					text-decoration: none;
					transition: 250ms;
					&:hover {
						transition: 250ms;
						background-color: $gray900;
						color: white;
					}
				}
		  }
		}
	}
}
