<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="body">
    <!-- /////////////////////////////////////////////////////////// wrapper -->
    <div class="wrapper" id="{{ page.id }}">
      {% include sidebar.html %}
      <!-- //////////////////////////////////////////////////////// content  -->
      <div class="container">
        <div id="overlay"></div>
        <div id="menuB">
          <img src="/assets/core/icons/menu_icon_black.svg" />
          <img src="/assets/core/icons/menu_icon_white.svg" />
        </div>
        {{ content }}
      </div>
      {% include canvas.html %}
    </div>
  </body>
</html>
