////////////////////////////////////////////////////////////////////////// Logo
//-----------------------------------------------------------------------------
#logo {
  padding: 25px 85px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  margin-bottom: 25px;
}

///////////////////////////////////////////////////////// Home Background Image
//-----------------------------------------------------------------------------
#menuB {
  @include card3;
  position: fixed;
  top: calc(50% - 75px/2);
  left: -33px;
  background-color: white;
  width: 75px;
  height: 75px;
  z-index: 10;
  cursor: pointer;
  transition: 100ms;
  &:hover {
    transition: 100ms;
    background-color: black;
    img {
      transition: 100ms;
      &:first-child { opacity: 0; }
      &:last-child { opacity: 1; }
    }
  }
  img {
    transition: 100ms;
    width: 20px;
    position: absolute;
    top: calc(50% - 20px/2);
    right: 12px;
    &:first-child { opacity: 1; }
    &:last-child { opacity: 0; }
  }
}

///////////////////////////////////////////////////////// Home Background Image
//-----------------------------------------------------------------------------
#homeIMG {
  @include centerImage;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

///////////////////////////////////////////////////////////////////// storyLIST
//-----------------------------------------------------------------------------
.storyLIST {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 90px calc(75.5% + 25px) 25px 25px;
  overflow-y: scroll;

  h1 {
    margin-bottom: 25px;
    color: white;
  }

  section {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    li {
      list-style: none;
    }
  }

  .menu {
    @include flex-r;
    margin-bottom: 15px;
    border-bottom: 1px solid white;
    height: 40px;
    position: absolute;
    top: 25px;
    left: 25px;
    width: calc(24.5% - 50px);
    background-color: rgba(255, 255, 255, 0.6);
    li {
      float: left;
      height: 100%;
      .menuLINK {
        @include subtitle;
        @include flex-c;
        height: 100%;
        padding: 0 10px;
        color: black;
        &:hover {
          text-decoration: underline;
        }
      }
      img {
        width: 15px;
      }
    }
  }

  .storyITEM {
    @include card3;
    width: 100%;
    margin-bottom: 25px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .storyIMG {
    @include centerImage;
    width: 100%;
    padding-top: 56%;
  }

  .storyINFO {
    padding: 10px;
    background: white;
  }
}

////////////////////////////////////////////////////////////////////////// Page
//-----------------------------------------------------------------------------
.page {
  @include centerImage;
  width: 100%;
  height: 100%;
}















//
