////////////////////////////////////////////////////////////////////////// Logo
//-----------------------------------------------------------------------------
#logo {
  padding: 25px 85px;
  // background-color: rgba(255, 255, 255, 0.5);
  background-color: $whiteTrans80;
  width: 100%;
  margin-bottom: 25px;
}

///////////////////////////////////////////////////////// Home Background Image
//-----------------------------------------------------------------------------
#menuB {
  @include card3;
  position: fixed;
  top: calc(50% - 75px/2);
  left: -33px;
  background-color: white;
  width: 75px;
  height: 75px;
  z-index: 10;
  cursor: pointer;
  transition: 100ms;
  &:hover {
    transition: 100ms;
    background-color: black;
    img {
      transition: 100ms;
      &:first-child { opacity: 0; }
      &:last-child { opacity: 1; }
    }
  }
  img {
    transition: 100ms;
    width: 20px;
    position: absolute;
    top: calc(50% - 20px/2);
    right: 12px;
    &:first-child { opacity: 1; }
    &:last-child { opacity: 0; }
  }
}

///////////////////////////////////////////////////////// Home Background Image
//-----------------------------------------------------------------------------
#homeIMG {
  @include centerImage;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

///////////////////////////////////////////////////////////////////// storyLIST
//-----------------------------------------------------------------------------
.storyLIST {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 25px);
  height: 100%;
  padding: 90px calc(75.5% + 45px) 25px 25px;
  overflow-y: scroll;

  h1 {
    margin-bottom: 25px;
    padding: 5px;
    background-color: white;
    color: black;
    text-align: center;
  }

  section {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    li {
      list-style: none;
    }
  }

  .storyITEM {
    // @include card3;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    h3 {
      text-transform: uppercase;
    }
    &:hover {
      text-decoration: underline;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .storyIMG {
    @include centerImage;
    width: 100%;
    padding-top: 56%;
  }

  .storyINFO {
    padding: 10px;
    background: white;
  }
}

.menu {
  @include flex-r;
  margin-bottom: 15px;
  border-bottom: 1px solid white;
  height: 40px;
  position: absolute;
  top: 25px;
  left: 25px;
  width: calc(24.5% - 50px);
  background-color: $whiteTrans80;
  li {
    float: left;
    height: 100%;
    list-style: none;
    .menuLINK {
      @include subtitle;
      @include flex-c;
      height: 100%;
      padding: 0 10px;
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
    img {
      width: 15px;
    }
  }
}

////////////////////////////////////////////////////////////////////////// Page
//-----------------------------------------------------------------------------
.page {
  @include centerImage;
  width: 100%;
  height: 100%;
  background-color: white;
}

////////////////////////////////////////////////////////////////// Post Content
//-----------------------------------------------------------------------------
#postCONTENT, .teamPAGE .content {
  width: 737px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-top: 100px;
  height: auto;

  h1, p, ol {
    background-color: $whiteTrans95;
    padding: 10px;
    width: 100%;
  }

  h1 {
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
  }

  p {
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 22px;
    &:nth-child(2) {
      margin-bottom: 25px;
      padding-bottom: 10px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    display: inline-block;
    color: $blue700;
  }

  img {
    width: 100%;
  }

  ol {
    padding-left: 40px;
    margin: 0;
    box-sizing: border-box;
  }
}

///////////////////////////////////////////////////////////////////////// Video
//-----------------------------------------------------------------------------
.videoWRAPPER {
  width: 100%;
  height: auto;
  padding-top: 56.2%;
  position: relative;
  margin-bottom: 25px;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//////////////////////////////////////////////////////////////// Instagram Feed
//-----------------------------------------------------------------------------
#instafeed {
  a {
    width: calc(33.333% - 3.333px);
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

#footer {
  margin-bottom: 100px;
  .menu {
    position: static;
    background-color: $whiteTrans80;
    border: 0;
    margin: 0 auto;
    margin-top: 15px;
    height: auto;
    width: 737px;
    padding: 25px 0;
    img {
      width: 30px;
    }
  }
}

















//
