#homePAGE {
  @include flex-c;

  .content {
    width: 737px;
    height: auto;
  }

  h3 {
    padding: 15px;
    background-color: white;
  }
}

#postPAGE, .infoPAGE {
  overflow-y: scroll;
  overflow-x: hidden;
}

#aboutPAGE {
  #instagramICON {
    width: 75px;
    height: 75px;
    padding: 5px;
    border-radius: 22px;
    margin: 0 auto;
    margin-bottom: 25px;
    background-color: white;
  }
}


















//
