#homePAGE {
  @include flex-c;

  .content {
    width: 737px;
    height: auto;
  }

  h3 {
    padding: 15px;
    background-color: $whiteTrans95;
    text-align: center;
  }

  .menu {
    position: static;
    background-color: transparent;
    border: 0;
    margin: 0 auto;
    margin-top: 15px;
    height: auto;
    img {
      width: 30px;
    }
  }
}

#postPAGE, .infoPAGE {
  overflow-y: scroll;
  overflow-x: hidden;
}

#aboutPAGE {
  #instagramICON {
    width: 75px;
    height: 75px;
    padding: 5px;
    border-radius: 22px;
    margin: 0 auto;
    margin-bottom: 25px;
    background-color: white;
  }
}

#teamPAGE {
  overflow-y: scroll;

  li {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;

    img, .team-description {
      width: 50%;
      float: left;
    }

    .team-description {
      padding: 15px;
      background-color: $whiteTrans95;
      p, a {
        background-color: transparent;
        padding: 0;
      }
      p {
        margin-bottom: 0;
        text-transform: uppercase;
      }
    }

  }
}
















//
