/////////////////////////////////////////////////// Telus Storyhive Competition
//-----------------------------------------------------------------------------
#postCONTENT {
  .telus-storyhive-competition-banner-container {
    @include flex-c;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 25px;

    a {
      padding: 25px;
    }

    h6 {
      width: 100%;
      background-color: transparent;
      text-align: center;
      margin-top: 25px;
      color: white;
    }

    img {
      height: 80%;
      max-width: 290px;
      margin: 0 auto;
    }
  }
}
