////////////////////////////////////////////////////////////////////// < 1024px
//-----------------------------------------------------------------------------
@media only screen and (max-width: 1024px) {
  .container {
    &.active {
      @include transform(translate3d(25%, 0, 0) scale3d(0.75, 0.75, 1));
      #overlay {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .storyLIST {
    padding: 90px calc(63% + 45px) 25px 25px;
    .menu {
      width: calc(36% - 45px);
    }
  }
}

/////////////////////////////////////////////////////////////////////// < 768px
//-----------------------------------------------------------------------------
@media only screen and (max-width: 768px) {
  .container {
    &.active {
      @include transform(translate3d(30%, 0, 0) scale3d(0.65, 0.65, 1));
    }
  }

  .storyLIST {
    padding: 90px calc(53% + 45px) 25px 25px;
    .menu {
      width: calc(45.5% - 45px);
    }
  }
}

/////////////////////////////////////////////////////////////////////// < 737px
//-----------------------------------------------------------------------------
@media only screen and (max-width: 737px) {
  #postCONTENT, .infoPAGE .content {
    width: 100%;
    padding: 25px;
    padding-left: 50px;
    margin-bottom: 0;
  }

  #homePAGE {
    .content {
      width: 100%;
      padding: 15px;
      padding-left: 50px;
      overflow-y: scroll;
    }
  }

  #footer {
    margin-bottom: 0;
    .menu {
      width: 100%;
    }
  }
}


/////////////////////////////////////////////////////////////////////// < 415px
//-----------------------------------------------------------------------------
@media only screen and (max-width: 415px) {
  .container {
    &.active {
      @include transform(translate3d(60%, 0, 0) scale3d(0.65, 0.65, 1));
    }
  }

  .storyLIST {
    padding: 90px calc(24% + 45px) 25px 25px;
    .menu {
      width: calc(70.5% - 45px);
    }
  }

  #logo {
    padding: 20px;
  }

  #homePAGE {
    h3 {
      font-size: 18px;
      line-height: 22px;
    }
  }
}




















//
